@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
* {
  margin: 0;
  box-sizing: content-box;
}

:root{
  height: 100vh;
}

body {
  font-family: 'Poppins', sans-serif !important;
  background: linear-gradient(45deg, purple, rgb(73, 45, 50), rgb(22, 22, 75));
}

.App {
  text-align: center;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Zilla Slab Highlight', cursive;

}

h1{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: black;
}

.loading{
  color: ghostwhite
}

.product-input{
  width: 290px;
}

.sale-input{
  width: 385px;
}

.sale-product-input{
  width: 290px;
}

.sale-brand-input{
  width: 175px;
}

span:hover{
  cursor: pointer;
  border: 2px dotted rgb(17, 34, 81);
}

.btn-active{
  font-weight: bolder;
  color: white;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  overflow: scroll;
  border-spacing: 0;
}

thead {
  position: sticky; /* make the table header sticky */
  top: 0; /* set the top position of the table header */
  background-color: #f5f5f5; /* add a background color to the table header */
  border-radius: 10px;
}

th:hover, button:hover{
  cursor: pointer;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}


.dashboard-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content:center;
  margin-top: 5px;
}

.product-input-container{
  display: flex;
  justify-content: space-between;
  align-items:center;
  width: 100%;
  margin-top: 5px;
}

.sale-input-container{
  display: flex;
  justify-content: space-between;
  align-items:center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 5px;
}

.span-container-inner-div{
  border-radius: 18px;
  border: 1px solid #0d6efd;
  background: #0d6efd;
}

.table-container {
  display: flex;
  justify-content: center; /* center horizontally */
  margin: 0 auto;
  height: 330px;
  overflow:auto;
  border-radius: 10px;
}

.table-container-hls{
  height: 10rem;
}

.span-container{
  display: flex;
  justify-content: center; /* center horizontally */
  gap: 15px;
  margin-top: 25px;
  flex-wrap: wrap;
}

.brand-name-column{
  width: 250px;
}

header{
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  background-color: #033147;
  height: 50px;
}

header nav ul li a{
  margin: 0 10px;
  list-style: none;
  color:ghostwhite;
  font-size: large; 
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.right-aligned-tabs {
  margin-left: auto;
  display: flex;
}
.right-aligned-tabs a{
  margin-left: 10px;
}

.not-available{
  display: flex;
  align-items: center;
  justify-content: space-around;
}


table::-webkit-scrollbar {
  width: 0.2em; /* set width of the scrollbar */
  background-color: transparent; /* set background color of the scrollbar */
}
table::-webkit-scrollbar-thumb {
  background-color: #ccc; /* set color of the thumb */
  border-radius: 10px; /* match the border-radius of the table */
}


